body{
    background-color: black;
    text-align: center;
    margin-top: 100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
    color: rgb(42, 165, 87);
}
p{
    color: aqua;
    font-size: 30px;
}
button{
    color: blueviolet;
    background-color: black;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    color: aliceblue;
}